{extend name="../../admin/view/main"}


{block name="content"}

<form action="{:sysuri()}" class="layui-card layui-form" data-auto="true" method="post">

    <div class="layui-card-body">

        <div class="layui-form-item">
            <label class="layui-form-label">门店名字</label>
            <div class="layui-input-block">
                <input name="name" value='{$vo.name|default=""}' required placeholder="请输入门店名字" class="layui-input">
                <p class="help-block"><b>必选</b>，请填写项目名称</p>
            </div>
        </div>

        
        <div class="layui-form-item">
            <label class="layui-form-label">地址</label>
            <div class="layui-input-block">
                <input name="address" value='{$vo.address|default=""}' required placeholder="请输入地址" class="layui-input">
                <p class="help-block"><b>必选</b>，请填写地址</p>
            </div>
        </div>
        
        <div class="layui-form-item">
            <label class="layui-form-label">联系人</label>
            <div class="layui-input-block">
                <input name="contacts" value='{$vo.contacts|default=""}' required placeholder="请输入联系人" class="layui-input">
                <p class="help-block"><b>必选</b>，请填写联系人</p>
            </div>
        </div>
        
        
        <div class="layui-form-item">
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-block">
                <input name="mobile" value='{$vo.mobile|default=""}' required placeholder="请输入联系电话" class="layui-input">
                <p class="help-block"><b>必选</b>，请填写联系电话</p>
            </div>
        </div>
        
        
       
        <div class="layui-form-item">
            <span class="layui-form-label">封面图片</span>
            <div class="layui-input-block">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th class="text-center">封面</th>
                    </tr>
                    <tr>
                        <td class="text-center text-top padding-0">
                            <div class="help-images">
                                <input name="cover" data-max-width="500" data-max-height="500" type="hidden" value="{$vo.cover|default=''}">
                                <script>$('[name="cover"]').uploadOneImage();</script>
                            </div>
                        </td>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>

     
        <div class="layui-form-item">
            <label class="layui-form-label">工作时间段</label>
            <div class="layui-input-block">
                <input name="work_time" value='{$vo.work_time|default=""}' required placeholder="请输入工作时间段" class="layui-input">
                <p class="help-block"><b>必选</b>，请填写工作时间段</p>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                 <select class="layui-select" lay-search name="status" lay-filter="status">
                 {foreach ['关闭','开启'] as $key=>$value}{if isset($vo.status) && $key == $vo.status}
                <option selected value="{$key}">{$value}</option>
                {else}
                <option value="{$key}">{$value}</option>
                {/if}{/foreach}
            </select>
            </div>
        </div>
        
        <div class="layui-form-item"  id="project_block">
            <label class="layui-form-label">绑定账号</label>
            {if isset($bindUsers)}
            <div class="layui-input-block">
            已绑定账号： {foreach $bindUsers as $key=>$value}{$value}&nbsp;&nbsp;{/foreach}
            </div>
            {/if}
            <div class="layui-input-block">
             <input type="hidden" name="sys_users" id="sys_users" required value="{$vo.sys_users|default=""}"/>
            <select   xm-select="sys_users_select">
               
            </select>
            </div>
        </div>
        
        
        
        
         <div class="hr-line-dashed"></div>
        {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
    
        <div class="layui-form-item text-center">
            <button class="layui-btn" type='submit'>保存数据</button>
             <button class="layui-btn layui-btn-danger" data-history-back data-confirm="确定要取消编辑吗？" type='button'>取消编辑</button>
        </div>
    </div>
    
   
</form>
<script>
    var data = [
                 {foreach $sysUsers as $item}
                  {"name": "{$item.name}", "value": {$item.id}},
                 {/foreach}
               ];
    form.render();
    var sys_users = new Array();
    require(['formSelects'], function (formSelects) {
            formSelects.data('sys_users_select', 'local', {
                arr: data
            });

            {if !empty($vo)}
            formSelects.value('sys_users_select', [{$vo.sys_users}]); 
            sys_users =  [{$vo.sys_users}];
            {/if}


            //绑定事件
            formSelects.on('sys_users_select', function(id, vals, val, isAdd, isDisabled){
                 if(isAdd){
                     sys_users.push(val.value);
                 }else{
                     var index = sys_users.indexOf(val.value);
                     sys_users.splice(index,1);
                 }
                 console.log(sys_users);
                $('#sys_users').val(sys_users.join(','));
            });
        })   
</script>

{/block}