<form action="{:sysuri()}" method="post" data-auto="true" class="layui-form layui-card" data-table-id="BaseTable">
    <div class="layui-card-body padding-left-40">
      <div class="layui-form-item">
            <label class="layui-form-label">{$title}</label>
            <div class="layui-input-block">
                 <select class="layui-select" lay-search name="processType" lay-filter="type">
                 {foreach $texts as $key=>$value}
                    {if $processType eq $key}
                    <option selected value="{$key}">{$value}</option>
                    {else}
                    <option value="{$key}">{$value}</option>
                    {/if}
                {/foreach}
            </select>
            </div>
        </div>
        
        
        <div class="layui-form-item" >
            <label class="layui-form-label">地址</label>
            <div class="layui-input-block">
                <input name="address" id="address"  value='{$storeAddr.address|default=""}' required placeholder="请输入地址" class="layui-input">
                <p class="help-block"><b>必选</b>，请填写地址</p>
            </div>
        </div>
        
        <div class="layui-form-item"  >
            <label class="layui-form-label">联系人</label>
            <div class="layui-input-block">
                <input name="contacts" id="contacts" value='{$storeAddr.name}({$storeAddr.contacts|default="无"})' required placeholder="请输入联系人" class="layui-input">
                <p class="help-block"><b>必选</b>，请填写联系人</p>
            </div>
        </div>
        
        
        <div class="layui-form-item" >
            <label class="layui-form-label">电话</label>
            <div class="layui-input-block">
                <input name="phone" id="phone" value='{$storeAddr.mobile|default=""}' required placeholder="请输入联系电话" class="layui-input">
                <p class="help-block"><b>必选</b>，请填写电话</p>
            </div>
        </div>
      
       
      
       <input type='hidden' value='{$type}' name='type'/>
        {notempty name='order_id'}<input type='hidden' value='{$order_id}' name='order_id'/>{/notempty}

    </div>
    <div class="hr-line-dashed"></div>


    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>确定</button>
        <button class="layui-btn layui-btn-danger" type='button'  data-close>取消</button>
    </div>
    <script>
        form.on('select(type)', function(data){
             var address = '{$storeAddr.address|default=""}';
             var contacts = '{$storeAddr.name}({$storeAddr.contacts|default="无"})';
             var phone = '{$storeAddr.mobile|default=""}';
             if(data.value==2){
                  address = '{$orderAddr.address|default=""}';
                  contacts = '{$orderAddr.name|default=""}';
                  phone = '{$orderAddr.phone|default=""}';
             }
             $("#address").val(address);
             $("#contacts").val(contacts);
             $("#phone").val(phone);
        }); 
    </script>
     
</form>