<form action="{:sysuri()}" method="post" data-auto="true" class="layui-form layui-card" data-table-id="BaseTable">

    <div class="layui-card-body padding-left-40">

        <div class="layui-form-item">
            <span class="layui-form-label">衣物图片</span>
            <div class="layui-input-block">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <td class="text-left padding-0">
                            <div class="help-images">
                                <input name="datas" data-max-width="2048" data-max-height="1024" type="hidden" value="{$vo.datas|default=''}">
                                <script>$('[name="datas"]').uploadMultipleImage();</script>
                            </div>
                        </td>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>


       <div class="layui-form-item">
            <label class="layui-form-label">条码</label>
            <div class="layui-input-block">
                <input name="bar_code" value='' required placeholder="请输入条码" class="layui-input">
                <p class="help-block"><b>必填</b>，请填写条码，便于跟踪衣物整个流程</p>
            </div>
        </div>

      
       <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="remark"  placeholder="请输入备注" maxlength="10000" class="layui-textarea"></textarea>
            </div>
        </div>
       <input type='hidden' value='2' name='process_status'/>
        {notempty name='order_id'}<input type='hidden' value='{$order_id}' name='order_id'/>{/notempty}

    </div>
    {notempty name='id'}<input type='hidden' value='{$id}' name='id'>{/notempty}
    <div class="hr-line-dashed"></div>


    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>确定</button>
        <button class="layui-btn layui-btn-danger" type='button'  data-close>取消</button>
    </div>

</form>